@import '/base/reset.css';

/* Fonts */
@import '/fonts/chillax/css/chillax.css';
@import '/fonts/gambetta/css/gambetta.css';
@import '/fonts/satoshi/css/satoshi.css';

:root {
    /* Fonts */
    --font-family: "Satoshi", sans-serif;
    --second-family: "Chillax", sans-serif;

    /* Colors */
	--text-default: #dac5a7;
	--text-muted: rgba(218, 197, 167, 0.6);
	--text-inverse: #0e0e0e;
	--text-inverse-muted: rgba(255, 255, 255, 0.6);
	--background-default: #0e0e0e;
	--background-primary: #dac5a7;
	--background-secondary: #1a1a1a;
	--background-muted: rgba(218, 197, 167, 0.05);
	--background-muted-2: rgba(255, 255, 255, 0.07);
	--border-default: rgba(218, 197, 167, 0.15);
	--border-inverse: rgba(255, 255, 255, 0.12);
	--icon-default: #dac5a7;
	--icon-inverse: #0e0e0e;
}

body {
    background-color: #0E0E0E;
    color: #DAC5A7;
}

h1 {
    font-family: var(--font-family);
    font-size: 48px;
}

h2 {
    font-family: var(--second-family);
    font-size: 38px;
}

h3 {
    font-family: Gambetta;
    font-size: 38px;
}